<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title>
        Araf admin
    </title>
    
    <meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" /> -->
<link href="http://fonts.useso.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="../../assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />

<link href="../../assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css" />
<link href="../../assets/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN THEME STYLES -->
<link href="../../assets/css/style-metronic.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/plugins.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/pages/tasks.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="../../assets/css/custom.css" rel="stylesheet" type="text/css" />
<!-- END THEME STYLES -->
    
<link href="../../assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css"  rel="stylesheet" type="text/css"/>
    
    <!-- GLOBAL SCRIPT -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->   
<!--[if lt IE 9]>
<araf:script src="assets/plugins/respond.min.js" />
<araf:script src="assets/plugins/excanvas.min.js" /> 
<![endif]-->   
<script src="../../assets/plugins/jquery-1.10.2.min.js" ></script>
<script src="../../assets/plugins/jquery-migrate-1.2.1.min.js" ></script>   
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="../../assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" ></script>
<script src="../../assets/plugins/bootstrap/js/bootstrap.min.js" ></script>
<script src="../../assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"  ></script>
<script src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" ></script>
<script src="../../assets/plugins/jquery.blockui.min.js" ></script> 
<script src="../../assets/plugins/jquery.cookie.min.js" ></script>
<script src="../../assets/plugins/uniform/jquery.uniform.min.js"  ></script>

<script src="../../assets/plugins/gritter/js/jquery.gritter.js" ></script> 
<script src="../../assets/plugins/jquery.pulsate.min.js" ></script>
<script src="../../assets/plugins/bootstrap-toastr/toastr.min.js"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN CORE LEVEL SCRIPTS -->
<script src="../../assets/scripts/core/app.js" ></script>
<script src="../../assets/scripts/custom/custom.js" ></script>
<!-- END CORE LEVEL SCRIPTS -->
<!-- END JAVASCRIPTS -->


    <!-- PAGE SCRIPT -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../../assets/plugins/jquery.input-ip-address-control-1.0.min.js"  ></script>
<script src="../../assets/plugins/fuelux/js/spinner.min.js"  ></script>
<script src="../../assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"   ></script>
<script src="../../assets/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"  ></script>
<script src="../../assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"  ></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->

<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {    
   App.init(); // initlayout and core plugins
   Custom.init();
   Custom.initIntro();
});
</script>    

<link rel="shortcut icon" href="../../assets/favicon.ico"/>

</head>
<body class="page-header-fixed" data-accountid="${account.id }">
    
    <!-- BEGIN HEADER -->
    <!-- BEGIN HEADER -->
<div class="header navbar navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="header-inner">
        <!-- BEGIN LOGO -->
        <a class="navbar-brand" href="index.html">
            <font style="color:white; margin-left:15px;">ARAF </font>
            <font style="color:red">FRAMEWORK</font>
            
        </a>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <img src="../../assets/img/menu-toggler.png" alt=""/>
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN INBOX DROPDOWN -->
            <li class="dropdown" id="header_inbox_bar">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="fa fa-envelope"></i>
                    <span class="badge new-message-badge">
                         0 
                    </span>
                </a>
                <ul class="dropdown-menu extended inbox">
                    <li>
                        <p id="header_inbox_newmessagecount">
                                                        您有 0 条新消息
                        </p>
                    </li>
                    <li>
                        <ul id="header_inbox" class="dropdown-menu-list scroller" style="height: 0px">
                        </ul>
                    </li>
                    <li class="external">
                        <a href="">
                                                        查看所有消息 <i class="m-icon-swapright"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- END INBOX DROPDOWN -->

            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    	<img alt="" src="../../assets/img/avatar1_small.jpg"/>                
                    <span class="username">
                        
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            <i class="fa fa-user"></i> 个人信息
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-envelope"></i> 消息中心
                            <span class="badge badge-danger  new-message-badge">
                                 0
                            </span>
                        </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="javascript:;" id="trigger_fullscreen">
                            <i class="fa fa-arrows"></i> 全屏
                        </a>
                    </li>
                    <li>
                        <a href="../login.html">
                            <i class="fa fa-key"></i> 退出
                        </a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
        </ul>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
    <!-- END HEADER -->
    
    <div class="clearfix">
    </div>
    
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
	    <!-- BEGIN SIDEBAR -->
	    <!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- add "navbar-no-scroll" class to disable the scrolling of the sidebar menu -->
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler hidden-phone">
                </div>
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="start active"  id="index">
                <a href="../index.html">
                    <i class="fa fa-home"></i>
                    <span class="title">
                                                主页
                    </span>
                    <span class="selected">
                    </span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa  fa-cloud"></i>
                    <span class="title">
                                                管理平台
                    </span>
                    <span class="arrow">
                    </span>
                </a>
                <ul class="sub-menu">
                	<li id="jobConfigs">
                        <a href="jobConfigList.html">
                            <i class="fa fa-list"></i>
                          		定义列表
                        </a>
                    </li>
                    <li id="jobConfig">
                        <a href="jobConfig.html">
                            <i class="fa fa-gear"></i>
                                                                定义
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fa fa-gears"></i>
                    <span class="title">
                                                管理中心
                    </span>
                    <span class="arrow">
                    </span>
                </a>
                <ul class="sub-menu">
                    <li class="tooltips" id="user">
                        <a href="../usermanagement/userDetail.html">
                            <i class="fa fa-user"></i>
                                                                用户管理                            
                        </a>
                    </li>
                    <li class="tooltips" id="messages" data-container="body" data-placement="right" data-html="true" data-original-title="">
                        <a href="../management-center/messagecenter.html">
                            <span class="badge new-message-badge">
                                0
                            </span>
                            <i class="fa fa-comments"></i>
                                                                消息中心
                            
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->

<script>

$(document).ready(function() {
	
	$('.page-sidebar-wrapper li').removeClass("active");
	
	$('#${defaultMenu}').addClass("active");
	$('#${defaultMenu}').parent().closest("li").addClass("active");
	
})


</script>
	    <!-- END SIDEBAR -->
	    
	    <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                
	            <!-- BIGIN PAGE -->
	            <!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
                        消息管理
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="../index.html">
                                        首页
                </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">
                                        信息管理平台
                </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/platformaccount/${account.id }/jobConfig/new">
                                        信息定义
                </a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->


<!-- BEGIN PAGE CONTENT -->
<div class="row">
     <div class="col-md-12">
         <div class="portlet box green">
             <div class="portlet-title">
                 <div class="caption">
                     <i class="fa fa-reorder"></i>消息定义
                 </div>
                 <div class="tools">
                     <a href="javascript:;" class="collapse">
                     </a>
                     <a href="javascript:;" class="reload">
                     </a>
                 </div>
             </div>
             <div class="portlet-body form" >
                 <!-- BEGIN FORM-->
                 <form id="jobConfigForm" method="POST">
                 	                 
                     <div class="form-body">
                         
                         <div class="row">
                             <div class="col-md-6">
                                 <div class="form-group">

                                     <label class="control-label col-md-4">消息名称</label>
                                     <div class="col-md-8">

                                     <div class="input-icon right">
                                     	<i class="fa fa-font"></i>
                                         <input type="text" class="form-control" placeholder="请输入消息名称" maxlength="40" id="jobType" name="jobType"" value="aaaaa" ${isEditable}/>
                                     </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-12">
                                 <div class="form-group">

                                     <label class="control-label col-md-2">消息描述</label>
                                     <div class="col-md-8">

                                     <div class="input-icon right">
                                     	<i class="fa fa-font"></i>
                                         <textarea class="form-control" rows="5" placeholder="请输入描述信息" id="description" name="description"  ${isEditable}>ddddd</textarea>
                                     </div>
                                     </div>
                                 </div>
                             </div>

                         </div>                         

                     </div>
                     <div class="form-actions fluid">
                         <div class="row">
                             <div class="col-md-6">
                                 <div class="col-md-offset-4 col-md-4">
                                     <button type="submit" class="btn green">保存</button>
                                     <button type="button" class="btn default" onclick="javascript:history.go(-1);">返回</button>
                                 </div>
                             </div>
                             <div class="col-md-6">
                             </div>
                         </div>
                     </div>
                 </form>
                 <!-- END FORM-->
             </div>
         </div>
     </div>
</div>
<!-- END PAGE CONTENT -->
	            <!-- END PAGE -->
	        </div>
	    </div>
	    <!-- END CONTENT -->
    </div>
    
    <!-- FOOTER -->
    <!-- BEGIN FOOTER -->
<div class="footer">
   <div class="footer-inner">
      2014 &copy; 虾兵蟹将
   </div>
   <div class="footer-tools">
      <span class="go-top">
      <i class="icon-angle-up"></i>
      </span>
   </div>
</div>
      
    
    
</body>
</html>

